@import "css/GameBoard.css";
@import "css/SingleCard.css";
@import "css/Rank.css";
@import "css/StopWatch.css";

body {
    background: cadetblue;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b983;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.current-user {
    margin: 0;
    padding: 10px;
    font-size: 30px;
}