.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin: 100px auto;
}

.board {
    display: inline-grid;
    grid-template-columns: 48px 2fr 48px;
}

.arrow-buttons {
    width: 30px;
    padding: 10px;
}

.left-button {
    justify-self: end;
}
.right-button {
    justify-self: start;
}