.memory-card {
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform calc(var(--TRANSITION) * 1s);
    background: lightseagreen;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform calc(var(--TRANSITION) * 1s);
}


.front-face,
.back-face {
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 5px;

    backface-visibility: hidden;
    top: 10%;
    left: 10%;
}

.front-face {
    transform: rotateY(180deg);
}

.memory-card.flip {
    transform: rotateY(180deg);
}
